<div class="container">
    <div class="item" style="margin-top: 20px;margin-bottom: 300px;">
   
<mat-card style="border-width: 3px;">
    <mat-card-header>
      <mat-card-title>Drones</mat-card-title>
      <mat-card-subtitle>Sony Drones v1</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://rukminim2.flixcart.com/image/300/300/xif0q/drone/t/r/9/50-30-2-e88-pro-eunity-original-imagrvcvwje9xw78.jpeg?q=90" alt="Card Image" style="width: 200px; height: 80px;">
    <!-- <mat-card-content>
      long range drones
    </mat-card-content> -->
    <mat-card-actions>
      <button mat-button>Buy</button>
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="item"  style="margin-top: 20px;">
   
    <mat-card style="border-width: 3px;">
        <mat-card-header>
          <mat-card-title>Flat 20% offer on shoes</mat-card-title>
          <mat-card-subtitle>top brands</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://rukminim2.flixcart.com/image/612/612/kfmv9u80-0/shoe/y/y/d/22509-8-m7-by-metronaut-blue-original-imafwfuugpsaf5qz.jpeg?q=70" alt="Card Image" style="width: 200px; height: 80px;">
        <!-- <mat-card-content>
          long range drones
        </mat-card-content> -->
        <mat-card-actions>
          <button mat-button>Buy</button>
        </mat-card-actions>
      </mat-card>
      </div>

      <div class="item"  style="margin-top: 20px;">
   
        <mat-card style="border-width: 3px;">
            <mat-card-header>
              <mat-card-title>Flat 40% offer on dresses</mat-card-title>
              <mat-card-subtitle>Shirts,pants..</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://rukminim2.flixcart.com/image/612/612/xif0q/ethnic-set/w/2/k/s-rx42-ktd-lav-royal-export-original-imagxn3emuytwpsz.jpeg?q=70" alt="Card Image" style="width: 200px; height: 80px;">
            <!-- <mat-card-content>
              long range drones
            </mat-card-content> -->
            <mat-card-actions>
              <button mat-button>Buy</button>
            </mat-card-actions>
          </mat-card>
          </div>

  </div>

 