<div style="background-color: aquamarine;height: 100px;">
    <!-- Other app components or content -->
    <div style="margin-top: 0px;">
    <app-dashboard></app-dashboard>
    </div>
    <div style="grid-template-columns: repeat(3, 1fr);background-color: rgb(234, 79, 12);margin-top: 0px;margin-left: 200px;height: 250px; ">
     <app-products></app-products>
    </div>
    <div style="grid-template-columns: repeat(3, 1fr);background-color: rgb(234, 79, 12);margin-top: 0px;margin-left: 200px;height: 250px; ">
      <app-products></app-products>
     </div>
  </div>